$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;

body {
  margin: 0 auto;
  text-align: center;
  }

.game-board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  margin: 0 auto;
  // padding-bottom: 50px;
  // padding-left: 32%;
  // padding-right: 32%;
  padding-top: 20px;
  max-width: 450px;
}

.box {
  border: 1px solid $black;
  justify-content: center;
  text-align: center;
  font-size: 110px;
  }

.hidden {
  display: none;
}
